<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
  
<main class="container mt-4">
  <div class="row ml-auto">
    <div class="col-sm-6" >
      <h1>
      <center>About me</center></h1>
      <p class="mt-4">
        A performance-driven and highly organized student pursuing Marketing Research & Analytics at Centennial College and a performance-driven - Entrepreneur with a deep passion for SAP, analytics, and business studies. Experienced in SAP consulting, Business Research, and development roles. Founded a service company that offers event planning and management.
    </p>
    <a href="./Assets/Resume.pdf" class="btn btn-outline-secondary mt-2"  download>Resume</a>
    </div>
    <div class="col-sm-6">
      <img src="./Assets/images/myimg.jpeg" width= "100%" alt="" class="my-img">
    </div>
  </div>
</main>
 
  
  <!--Script section-->
  <%-include partials/bottom_nav.ejs%>
  <%-include partials/footer.ejs%>

